@model KermesseElysium.Models.Usuario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Usuario</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/../">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="../">Usuario</a></li>
                    <li class="breadcrumb-item active">Detalles</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="row mb-2">

        </div>
    </div><!-- /.container-fluid -->
</div>

<div class="card card-secondary">
    <div class="card-header">
        <h3 class="card-title">Detalles de usuario</h3>
    </div>
    <div class="card-body">
        <div class="info-box bg-light">
            <div class="info-box-content">
                <span class="info-box-number mb-0">Usuario</span>
                <span class="info-box-text">@Html.DisplayFor(model => model.userName)</span>
            </div>
        </div>
        <div class="info-box bg-light">
            <div class="info-box-content">
                <span class="info-box-number mb-0">Nombres</span>
                <span class="info-box-text">@Html.DisplayFor(model => model.nombres)</span>
            </div>
        </div>
        <div class="info-box bg-light">
            <div class="info-box-content">
                <span class="info-box-number mb-0">Apellidos</span>
                <span class="info-box-text">@Html.DisplayFor(model => model.apellidos)</span>
            </div>
        </div>
        <div class="info-box bg-light">
            <div class="info-box-content">
                <span class="info-box-number mb-0">Email</span>
                <span class="info-box-text">@Html.DisplayFor(model => model.email)</span>
            </div>
        </div>
        <div class="info-box bg-light">
            <div class="info-box-content">
                <span class="info-box-number mb-0">Estado</span>
                <span class="info-box-text">@Html.DisplayFor(model => model.estado)</span>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a class="btn btn-default" href="../">Volver</a>
    </div>
</div>


