@model IEnumerable<KermesseElysium.Models.Parroquia>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 



<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Parroquia</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="../">Inicio</a></li>
                    <li class="breadcrumb-item active">Parroquias</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="row mb-2 badge bg-primary text-wrap"> 
            @Html.ActionLink("Crear Reporte", "ReporteParroquia", new { tipo = "PDF" })
        </div>
    </div><!-- /.container-fluid -->
</div>

<div class="card">
    <div class="card-header">
        <div style="text-align:right;">
            <button type="button" class="btn btn-secondary btn-sm" onclick="location.href='@Url.Action("Create", "Parroquias")'">
                <i class="fas fa-plus"></i> Registrar nueva parroquia
            </button>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.nombre)</th>
                    <th>@Html.DisplayNameFor(model => model.direccion)</th>
                    <th>@Html.DisplayNameFor(model => model.telefono)</th>
                    <th>@Html.DisplayNameFor(model => model.parroco)</th>
                    <th>@Html.DisplayNameFor(model => model.logo)</th>
                    <th>@Html.DisplayNameFor(model => model.sitioWeb)</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.parroco)
                    </td>
                    <td>
                        <img style="width:40px; height:40px;" src="@Html.DisplayFor(modelItem => item.logo)" />
                        
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sitioWeb)
                    </td>
                    <td>
                        <span style="cursor:pointer;" title="Ver detalles"><a href="@Url.Action("Details", "Parroquias", new { id = item.idParroquia })" style="color:black;"><i class="fas fa-eye"></i></a></span>
                        <span style="cursor:pointer;" title="Editar"><a href="@Url.Action("Edit", "Parroquias", new { id = item.idParroquia })" style="color:black;"><i class="fas fa-edit"></i></a></span>
                        <span style="cursor:pointer;" title="Eliminar"><a href="@Url.Action("Delete", "Parroquias", new { id = item.idParroquia })" style="color:darkred;"><i class="fas fa-trash"></i></a></span>
                    </td>
                </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.nombre)</th>
                    <th>@Html.DisplayNameFor(model => model.direccion)</th>
                    <th>@Html.DisplayNameFor(model => model.telefono)</th>
                    <th>@Html.DisplayNameFor(model => model.parroco)</th>
                    <th>@Html.DisplayNameFor(model => model.logo)</th>
                    <th>@Html.DisplayNameFor(model => model.sitioWeb)</th>
                    <th>Acciones</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>