@model IEnumerable<KermesseElysium.Models.vw_ingresocomunidad>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.usuarioModificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaModificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuarioEliminacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaEliminacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.comunidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kermesse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantProducto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
