@model KermesseElysium.Models.vw_rolusuario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Rol de usuario</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li class="breadcrumb-item"> @Html.ActionLink("Roles de usuario", "Index", "RolUsuarios")</li>
                    <li class="breadcrumb-item active">Detalles</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="row mb-2">

        </div>
    </div><!-- /.container-fluid -->
</div>
<div class="card card-secondary">
    <div class="card-header">
        <h3 class="card-title">Detalles de roles del usuario</h3>
    </div>
    <div class="card-body">
        <div class="info-box bg-light">
            <div class="info-box-content">
                @Html.LabelFor(model => model.nombres, htmlAttributes: new { @class = "info-box-number mb-0" })
                <span class="info-box-text"> @Html.DisplayFor(model => model.nombres)</span>
            </div>
        </div>
        <div class="info-box bg-light">
            <div class="info-box-content">
                @Html.LabelFor(model => model.rolDescripcion, htmlAttributes: new { @class = "info-box-number mb-0" })
                <span class="info-box-text">@Html.DisplayFor(model => model.rolDescripcion)</span>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a class="btn btn-default" href="@Url.Action("Index", "RolUsuarios")">Volver</a>
    </div>
</div>
