@model KermesseElysium.Models.ListaPrecio

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Lista de Precios</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/../">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="../">Lista de precios</a></li>
                    <li class="breadcrumb-item active">Eliminar</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="row mb-2">

        </div>
    </div><!-- /.container-fluid -->
</div>


<div class="card card-secondary">
    <div class="card-header">
        <h3 class="card-title">¿Estás seguro que deseas eliminar esta Lista?</h3>
    </div>
    <div class="card-body">
        <div class="info-box bg-light">
            <div class="info-box-content">
                <span class="info-box-number mb-0">Nombre</span>
                <span class="info-box-text">@Html.DisplayFor(model => model.nombre)</span>
            </div>
        </div>
        <div class="info-box bg-light">
            <div class="info-box-content">
                <span class="info-box-number mb-0">Descripción</span>
                <span class="info-box-text">@Html.DisplayFor(model => model.descripcion)</span>
            </div>
        </div>
        <div class="info-box bg-light">
            <div class="info-box-content">
                <span class="info-box-number mb-0">Kermesse</span>
                <span class="info-box-text">@Html.DisplayFor(model => model.kermesse)</span>
            </div>
        </div>
        <div class="info-box bg-light">
            <div class="info-box-content">
                <span class="info-box-number mb-0">Estado</span>
                <span class="info-box-text">@Html.DisplayFor(model => model.estado)</span>
            </div>
        </div>
    </div>
    <div class="card-footer">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-secondary" />
                <a class="btn btn-default" href="../">Volver</a>
            </div>
        }
    </div>
</div>
