@model KermesseElysium.Models.ControlBono

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string titulo = "eliminar";
    string boton = "Eliminar";
}
@if (Model.estado.Equals(3))
{
    titulo = "habilitar";
    boton = "Habilitar";
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Control Bonos</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li class="breadcrumb-item"> @Html.ActionLink("Control Bonos", "Index", "ControlBonoes")</li>
                    <li class="breadcrumb-item active">@boton</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="row mb-2">
        </div>
    </div><!-- /.container-fluid -->
</div>

<div class="card card-secondary">
    <div class="card-header">
        <h3 class="card-title">¿Estás seguro que deseas @titulo este ControlBono?</h3>
    </div>
    <div class="card-body">

        <div class="info-box bg-light">
            <div class="info-box-content">

                @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "info-box-number mb-0" })
                <span class="info-box-text">@Html.DisplayFor(model => model.nombre)</span>
            </div>
        </div>
        <div class="info-box bg-light">
            <div class="info-box-content">
                @Html.LabelFor(model => model.valor, htmlAttributes: new { @class = "info-box-number mb-0" })
                <span class="info-box-text">@Html.DisplayFor(model => model.valor)</span>
            </div>
        </div>
    </div>
    <div class="card-footer">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="@boton" class="btn btn-secondary" />
                <a class="btn btn-default" href="@Url.Action("Index", "ControlBonoes")">Volver</a>
            </div>
        }
    </div>
</div>
