@model KermesseElysium.Models.TasaCambio

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Tasa cambio</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li class="breadcrumb-item"> @Html.ActionLink("Tasa cambio", "Index", "TasaCambios")</li>
                    <li class="breadcrumb-item active">Crear</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="row mb-2">

        </div>
    </div><!-- /.container-fluid -->
</div>

<div class="card card-secondary">
    <div class="card-header">
        <h3 class="card-title">Crear tasa cambio</h3>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="card-body">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.monedaO, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                       
                        @Html.DropDownList("monedaO", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.monedaO, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.monedaC, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                       
                        @Html.DropDownList("monedaC", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.monedaC, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.mes, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.mes, new { htmlAttributes = new { @class = "form-control"} })
                        @Html.ValidationMessageFor(model => model.mes, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.anio, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.anio, new { htmlAttributes = new { @class = "form-control"} })
                        @Html.ValidationMessageFor(model => model.anio, "", new { @class = "text-danger" })
                    </div>
                </div> 
            </div>
            <div class="card-footer">
                <input type="submit" value="Crear" class="btn btn-secondary" />
            </div>
        </div>
    }
</div>

<script>
    $("#datepicker").datepicker({
        format: "mm",
        startView: "months",
        minViewMode: "months"
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
