@model IEnumerable<KermesseElysium.Models.vw_tasacambio>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Tasa de cambio</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li class="breadcrumb-item active">Tasa cambio</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<div class="card">
    <div class="card-header">
        <div style="text-align:right;">
            <button type="button" class="btn btn-secondary btn-sm" onclick="location.href='@Url.Action("Create", "TasaCambios")'">
                <i class="fas fa-plus"></i> Crear nueva tasa cambio
            </button>
            <div class="btn-group">
                <button type="button" class="btn-sm btn-secondary dropdown-toggle dropdown-icon border border-secondary" data-toggle="dropdown">
                    Exportar
                </button>
                <div class="dropdown-menu" role="menu">
                    <a class="dropdown-item" href="@Url.Action("VerReporteTasaCambio", new { tipo = "PDF", buscar = Request.Form["buscar"] })">PDF</a>
                    <a class="dropdown-item" href="@Url.Action("VerReporteTasaCambio", new { tipo = "Word", buscar = Request.Form["buscar"] })">Word</a>
                    <a class="dropdown-item" href="@Url.Action("VerReporteTasaCambio", new { tipo = "Excel", buscar = Request.Form["buscar"] })">Excel</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        @using (Html.BeginForm("Index", "TasaCambios", FormMethod.Post))
        {
            <div style="text-align:right; float:right;">
                <div class"row">
                    <div class="input-group">
                        @Html.TextBox("buscar", "", new { @class = "form-control" })
                        <button type="submit" class="btn btn-dark">Buscar</button>
                    </div>
                </div>
            </div>
        }
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.monedaO)</th>
                    <th>@Html.DisplayNameFor(model => model.monedaC)</th>
                    <th>@Html.DisplayNameFor(model => model.mes)</th>
                    <th>@Html.DisplayNameFor(model => model.anio)</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.monedaO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.monedaC)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.mes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.anio)
                        </td>
                        <td>
                            <span style="cursor:pointer;" title="Ver detalles"><a href="@Url.Action("Details", "TasaCambios", new { id = item.idTasaCambio })" style="color:black;"><i class="fas fa-eye"></i></a></span>
                            <span style="cursor:pointer;" title="Editar"><a href="@Url.Action("Edit", "TasaCambios", new { id = item.idTasaCambio })" style="color:black;"><i class="fas fa-edit"></i></a></span>
                            <span style="cursor:pointer;" title="Eliminar"><a href="@Url.Action("Delete", "TasaCambios", new { id = item.idTasaCambio })" style="color:darkred;"><i class="fas fa-trash"></i></a></span>
                            <span style="cursor:pointer;" title="Exportar a PDF"><a href="@Url.Action("VerReporteTasaCambioIndiv", "TasaCambios", new { id = item.idTasaCambio })" style="color:black;"><i class="fas fa-file-export"></i></a></span>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.monedaO)</th>
                    <th>@Html.DisplayNameFor(model => model.monedaC)</th>
                    <th>@Html.DisplayNameFor(model => model.mes)</th>
                    <th>@Html.DisplayNameFor(model => model.anio)</th>
                    <th>Acciones</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>



