@model KermesseElysium.Models.Kermesse

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Kermesse</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li class="breadcrumb-item"> @Html.ActionLink("Kermesse", "Index", "Kermesses")</li>
                    <li class="breadcrumb-item active">Detalles</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="row mb-2">

        </div>
    </div><!-- /.container-fluid -->
</div>

<div class="card card-secondary">
    <div class="card-header">
        <h3 class="card-title">Detalles de la Kermesse</h3>
    </div>
    <div class="card-body">
        <div class="info-box bg-light">
            <div class="info-box-content">
                @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "info-box-number mb-0" })
                <span class="info-box-text">@Html.DisplayFor(model => model.nombre)</span>
            </div>
        </div>
        <div class="info-box bg-light">
            <div class="info-box-content">
                @Html.LabelFor(model => model.fInicio, htmlAttributes: new { @class = "info-box-number mb-0" })
                <span class="info-box-text">@Html.DisplayFor(model => model.fInicio)</span>
            </div>
        </div>
        <div class="info-box bg-light">
            <div class="info-box-content">
                @Html.LabelFor(model => model.fFinal, htmlAttributes: new { @class = "info-box-number mb-0" })
                <span class="info-box-text">@Html.DisplayFor(model => model.fFinal)</span>
            </div>
        </div>
        <div class="info-box bg-light">
            <div class="info-box-content">
                @Html.LabelFor(model => model.descripcion, htmlAttributes: new { @class = "info-box-number mb-0" })
                <span class="info-box-text">@Html.DisplayFor(model => model.descripcion)</span>
            </div>
        </div>
        <div class="info-box bg-light">
            <div class="info-box-content">
                @Html.LabelFor(model => model.fechaCreacion, htmlAttributes: new { @class = "info-box-number mb-0" })
                <span class="info-box-text">@Html.DisplayFor(model => model.fechaCreacion)</span>
            </div>
        </div>

    </div>
    <div class="card-footer">
        <a class="btn btn-default" href="@Url.Action("Index", "Kermesses")">Volver</a>
    </div>
</div>
